
USE_MOCK_DATA=true
NODE_ENV=development

# Authentication
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your-secret-key-here-generate-with-openssl-rand-base64-32

# RDS Database Configuration
RDS_HOST=your_host_url
RDS_PORT=3306
RDS_DATABASE=your_db_name
RDS_USER=user_name
RDS_PASSWORD=your_password

# EC2 Server Configuration
EC2_HOST=your_ec2_host
EC2_USER=your_ec2_user_name
EC2_SSH_KEY=your_ec2_ssh_key

# AWS S3 Configuration
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=your_aws_access_key
AWS_SECRET_ACCESS_KEY=your_aws_secret_key
AWS_SESSION_TOKEN=your_session_token_if_using_aws_academy

AWS_S3_BUCKET_NAME=your_s3_bucket_name
SNS_TOPIC_ARN=your_aws_sns_topic_arn