
USE_MOCK_DATA=true

RDS_HOST=your_host_url
RDS_PORT=3306
RDS_DATABASE=your_db_name
RDS_USER=user_name
RDS_PASSWORD=your_password


EC2_HOST=your_ec2_host
EC2_USER=your_ec2_user_name
EC2_SSH_KEY=your_ec2_ssh_key