option_settings:
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "node server.js"
    NodeVersion: 20
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    PORT: 8080
  aws:autoscaling:launchconfiguration:
    InstanceType: t3.small
  aws:elasticbeanstalk:environment:
    EnvironmentType: LoadBalanced
  aws:elb:loadbalancer:
    CrossZone: true
